@import '../../variables';

.customListItem {
  display: flex;
  min-height: $list-item-min-height;
  align-items: center;
  border-radius: $control-panel-border-radius;
  background-color: $bright-background-color;
  cursor: pointer;
  transition: background-color 0.7s ease;
  margin-top: 5px;
  padding: 7px 10px 7px 2px;

  &.withoutIcon {
    padding-left: 10px;
  }

  &.selected {
    background-color: $list-item-color;
  }

  .unselectIcon {
    width: 28px;
    height: 28px;
    margin-right: 10px;
    margin-left: 8px;
    fill: $main-text-color;
    transition: opacity 0.1s ease;
    -webkit-tap-highlight-color: transparent;
  }

  .productInfo {
    display: flex;
    flex-direction: column;
    text-align: left;
    flex: 1;
  }

  .productId {
    font-weight: bold;
    font-size: $list-item-ean-font-size;
    color: $list-item-ean-color;
  }

  .productText {
    font-size: $list-item-name-font-size;
  }
}
