$main-background-color: #282c34;
$bright-background-color: #343944;
$negative-color: #b92e2e;
$negative-bright-color: #d93939;
$positive-color: #268600;
$positive-bright-color: #2d9400;


$main-border-color: #ffffff;
$control-panel-border-radius: 10px;
$control-panel-border-width: 1px;

$main-text-color: #ffffff;
$placeholder-text-color: rgba(255, 255, 255, 0.64);
$button-text-color: #ffffff;

$link-color: #61dafb;

$product-table-margin-top: 90px;
$product-table-margin-top-media-500: 135px;

$suppliers-table-margin-top: 43px;