// Main Colors
$main-background-color: #1a1a1a;
$bright-background-color: #252525;
$negative-color: #b92e2e;
$negative-bright-color: #d93939;
$positive-color: #268600;
$positive-bright-color: #2d9400;
$positive-additional-color: #47ff00;

// Border styles
$main-border-color: #ffffff;
$control-panel-border-radius: 10px;
$control-panel-border-width: 1px;

// Text colors
$main-text-color: #ffffff;
$placeholder-text-color: #FFFFFFA3;
$button-text-color: #ffffff;
$link-color: #61dafb;

// Display screen styles
$selected-item-color: #268600;
$selected-item-ean-color: #a6a6a6;
$selected-item-ean-font-size: 10px;
$selected-item-name-font-size:16px;

// Placement margins
$product-table-margin-top: 89px;
$product-table-margin-top-media-500: 131px;
$suppliers-table-margin-top: 45px;

// Elements sizes
$control-panel-element-height: 40px;

// Deliver button
$deliver-button-height: 70px;
$deliver-button-font-size: 25px;
$Deliver-button-padding-bottom: 10px;

$margin-bottom: 75px;