@import '../../variables';

.suppliersTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: $suppliers-table-margin-top;
    color: $main-text-color;

    th, td {
        border: 1px solid $main-border-color;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: $main-background-color;
    }

    // First column
    th:first-child, td:first-child {
        width: 1%;
        text-align: center;
        white-space: nowrap;
    }

    // Every second row
    tr:nth-child(even) {
        background-color: $bright-background-color;
    }
}

// Fixed container
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    //background-color: white;
    z-index: 1000;
}