$border-color: #ffffff;
$header-background-color: #282c34;
$row-even-background-color: #343944;

.suppliersTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 40px;

    th, td {
        border: 1px solid $border-color;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: $header-background-color;
    }

    // First column
    th:first-child, td:first-child {
        width: 1%;
        text-align: center;
        white-space: nowrap;
    }

    // Every second row
    tr:nth-child(even) {
        background-color: $row-even-background-color;
    }
}

// Fixed container
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    //background-color: white;
    z-index: 1000;
}