@import '../../variables';

.back-button {
  width: 100%;
  background-color: $negative-color;
  border: $control-panel-border-width solid $negative-color;
  border-radius: $control-panel-border-radius;
  color: $button-text-color;
  padding: 11px 0;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    background-color: $negative-bright-color;
  }
}
