@import '../../variables';

.productTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: $selected-products-table-margin-top;
    color: $main-text-color;


    th, td {
        border: 1px solid $main-border-color;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: $main-background-color;
    }

    th:first-child, td:first-child {
        width: 1%;
        text-align: center;
        white-space: nowrap;
    }

    .selectedRow {
        background-color: $selected-row-color;
    }
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $main-background-color;
    z-index: 1000;
}
