.productTable {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;

    th, td {
        border: 1px solid #ffffff;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #282c34;
    }
}
