@import '../../variables';

.searchBar {
  position: relative;
  width: 100%;

  .searchIcon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    fill: $main-text-color;
  }

  input {
    width: 100%;
    padding: 10px 8px 10px 36px;
    font-size: 16px;
    border: 1px solid $main-border-color;
    border-radius: $control-panel-border-radius;
    box-sizing: border-box;
    background-color: $main-background-color;
    color: $main-text-color;

    &::placeholder {
      color: $main-text-color;
    }
  }
}