@import '../../variables';

.deliver-button {
  width: 100%;
  background-color: $positive-color;
  border: none;
  border-radius: $control-panel-border-radius;
  color: $button-text-color;
  padding: 0 0 $Deliver-button-padding-bottom 0;
  font-size: $deliver-button-font-size;
  cursor: pointer;
  position: fixed;
  bottom: 0;
  left: 0;
  height: $deliver-button-height;
  z-index: 1001;

  -webkit-tap-highlight-color: transparent;
  outline: none;

  &.clicked {
    animation: colorTransition 1.5s ease-in-out forwards;
  }
}

@keyframes colorTransition {
  0% {
    background-color: $positive-color;
  }
  50% {
    background-color: $positive-additional-color;
  }
  100% {
    background-color: $positive-color;
  }
}

.deliver-div {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc($control-panel-element-height - 10px);
  background-color: $main-background-color;
  z-index: 1000;
}
