@import '../../variables';

.displayList {
  width: 100%;
  margin-top: $product-table-margin-top;
  margin-bottom: $margin-bottom;
  box-sizing: border-box;

  @media (max-width: 500px) {
    margin-top: $product-table-margin-top-media-500;
  }
}
